$header-height: 3.5em;
$sidebar-width-mobile: 70%;
$left-padding: 25px;
$left-padding-negative: -1 * $left-padding;
$right-margin: 25px;
$note-padding: 20px;
$max-width: 1500px;
$bottom-padding: 200px;
$font-family: 'Roboto', sans-serif;
$scroll-bar-width: 13px;
$sidebar-bottom-height: 58px;
// Colors
$body-color: #c5c5c5;
$body-color-darker: #999999;
$header-color: white;
$dark-color: #282828;
$bold-color: #dadada;
$link-color: #60a2ec;
$link-color-bold: #82c0ff;
$link-color-hover: #f7b44b;
$link-color-light: #6d7278;
$link-color-broken: #FF5647;
$lighter-background-color: #3C3C3C;
$dark-background-color: #262626;
$huh-how-highlight: #ffcb4c;
$huh-how-highlight-darker: #f19020;
$unity-header-background: #000000;
$unity-header-foreground: #FFFFFF;
// Unity colors  https://www.foundations.unity.com/fundamentals/color-palette
// Base 1
$unity-colors-app_toolbar-background: #191919;
$unity-colors-app_toolbar_button-background: #383838;
$unity-colors-app_toolbar_button-background-checked: #6A6A6A;
$unity-colors-app_toolbar_button-background-hover: #424242;
$unity-colors-app_toolbar_button-background-pressed: #6A6A6A;
$unity-colors-app_toolbar_button-border: #191919;
$unity-colors-app_toolbar_button-border_accent: #222222;
// Base 2
// Buttons
$unity-colors-button-background: #585858;
$unity-colors-button-background-focus: #6E6E6E;
$unity-colors-button-background-hover: #676767;
$unity-colors-button-background-hover_pressed: #4F657F;
$unity-colors-button-background-pressed: #46607C;
$unity-colors-button-border: #303030;
$unity-colors-button-border_accent: #242424;
$unity-colors-button-border_accent-focus: #7BAEFA;
$unity-colors-button-border-pressed: #0D0D0D;
$unity-colors-button-text: #EEEEEE;
// Multi Column Header
$unity-colors-headerbar-background: #3C3C3C;
$unity-colors-headerbar_column-background: #3C3C3C;
$unity-colors-headerbar_column-background-hover: #464646;
$unity-colors-headerbar_column-background-pressed: #505050;
// Inspector backgrounds
$unity-colors-inspector_titlebar-background: #3E3E3E;
$unity-colors-inspector_titlebar-background-hover: #474747;
$unity-colors-toolbar-background: #3C3C3C;
$unity-colors-window-background: #383838;
// Inspector Borders
$unity-colors-inspector_titlebar-border: #1A1A1A;
$unity-colors-inspector_titlebar-border_accent: #303030;
// Window Backgrounds 
$unity-colors-default-background: #282828;
$unity-colors-highlight-background-inactive: #4D4D4D;
$unity-colors-highlight-background: #2C5D87;
$unity-colors-highlight-background-hover: rgba(256, 256, 256, 0.0627451);
$unity-colors-highlight-background-hover-lighter: #5F5F5F;
$unity-colors-window-background: #383838;
$unity-colors-alternated_rows-background: #3F3F3F;
// Window Borders
$unity-colors-default-border: #232323;
$unity-colors-toolbar-border: #232323;
$unity-colors-window-border: #242424;