$header-height: 3.5em;
$sidebar-width-mobile: 70%;
$left-padding: 25px;
$left-padding-negative: -1 * $left-padding;
$right-margin: 25px;
$note-padding: 20px;
$max-width: 1500px;
$bottom-padding: 200px;
$font-family: 'Roboto', sans-serif;
$scroll-bar-width: 13px;
$sidebar-bottom-height: 58px;
// Colors
$body-color: #c5c5c5;
$header-color: white;
$dark-color: #282828;
$bold-color: #dadada;
$link-color: #60a2ec;
$link-color-bold: #82c0ff;
$link-color-hover: #f7b44b;
$link-color-light: #6d7278;
$lighter-background-color: #3C3C3C;
$dark-background-color: #262626;
$huh-how-highlight: #ffcb4c;
$huh-how-highlight-darker: #f19020;
$unity-header-background: #000000;
$unity-header-foreground: #FFFFFF;