$sidebar-width: 70%;
$left-padding: 25px;
$left-padding-negative: -1 * $left-padding;
$right-margin: 25px;
$max-width: 1500px;
// Colors
$bold-color: #dadada;
$link-color: #60a2ec;
$link-color-bold: #82c0ff;
$link-color-hover: #f7b44b;