@use 'base';

.code-container {
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--backgroundColor);
	color: #BDBDBD;
	margin: 2px 10px 3px -15px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	border-radius: 6px;
	position: relative;
}

.code-container-inner {
	padding: 1px 15px 1px 15px;
	overflow-x: auto;

	pre {
		padding-right: 40px;
		display: inline-block;
	}
}

code {
	font-family: 'JetBrains Mono', monospace;
	background-color: base.$dark-background-color;
	border-radius: 0.3em;
	padding: 2px 5px 2px 5px;
	font-size: 0.85em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

code[class*="language-"] {
	font-family: inherit;
	background-color: inherit;
	border-radius: inherit;
	padding: inherit;
	font-size: inherit;
	-webkit-box-decoration-break: inherit;
	box-decoration-break: inherit;
}

pre {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;
	tab-size: 4;
	line-height: 1.55em;

	em {
		font-family: 'JetBrains Mono Italic', monospace;
		font-style: normal;
	}

	strong {
		font-family: 'JetBrains Mono Bold', monospace;
		font-style: normal;
		font-weight: normal;
	}
}

.error-underline {
	background: url(../Images/code-error-underline.svg) repeat-x bottom left;
}

.hint-underline {
	background: url(../Images/code-hint-underline.svg) repeat-x bottom left;
}

.code-setting {
	text-align: center;
	background-color: base.$dark-background-color;
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	height: 20px;
	width: 12px;
	margin: 4px 4px;
	padding: 0 5px;
	border: 1px solid #666666;
	border-radius: 6px;
	user-select: none;

	&:hover, &:focus {
		//border-color: #b9b9b9;
		border-radius: 6px 6px 0 0;
	}

	.dropdown-content {
		top: 20px;
		right: -1px;
		button {
			height: 26px;
		}
	}
	
	.dropdown-caret {
		margin-top: -3px;
	}
}