@use 'base';

%code-container-base {
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--backgroundColor);
	color: #BDBDBD;
	margin: base.$code-container-margins;
	margin-block-start: 1em;
	margin-block-end: 1em;
	border-radius: 6px;
	position: relative;
}

.code-container {
	@extend %code-container-base;
}

.code-container-inner {
	padding: 1px 15px 1px 15px;
	overflow-x: auto;

	pre {
		padding-right: 40px;
		display: inline-block;
	}
}

:not(pre) {
	.code-block--no-background,
	> code {
		font-family: 'JetBrains Mono', monospace;
		background-color: base.$dark-background-color;
		border-radius: 0.3em;
		padding: 2px 5px 2px 5px;
		font-size: 0.85em;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}

	.code-block--no-background {
		background-color: transparent;
		display: contents;
	}
}

pre {
	> code {
		font-family: inherit;
		background-color: inherit;
		border-radius: inherit;
		padding: inherit;
		font-size: inherit;
		-webkit-box-decoration-break: inherit;
		box-decoration-break: inherit;
	}
}

pre {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;
	tab-size: 4;
	line-height: 1.55em;

	em {
		font-family: 'JetBrains Mono Italic', monospace;
		font-style: normal;
	}

	strong {
		font-family: 'JetBrains Mono Bold', monospace;
		font-style: normal;
		font-weight: normal;
	}
}

.error-underline {
	background: url(../Images/code-error-underline.svg) repeat-x bottom left;
}

.hint-underline {
	background: url(../Images/code-hint-underline.svg) repeat-x bottom left;
}

.code-setting {
	text-align: center;
	background-color: base.$dark-background-color;
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	height: 20px;
	width: 12px;
	margin: 4px 4px;
	padding: 0 5px;
	border: 1px solid #666666;
	border-radius: 6px;
	user-select: none;

	&:hover, &:focus {
		//border-color: #b9b9b9;
		border-radius: 6px 6px 0 0;
	}

	.dropdown-content {
		top: 20px;
		right: -1px;
		button {
			height: 26px;
		}
	}
	
	.dropdown-caret {
		margin-top: -3px;
	}
}

.nomnoml {
	user-select: none;
	width: calc(100% + 15px);
	margin-left: -15px;
	>svg {
		width: 100%;
		stroke-linejoin: miter !important;
		stroke-linecap: square !important;
	}
	rect {
		rx: 5px;
		ry: 5px;
	}
	&:not(.processed-nomnoml) {
		>svg {
			display: none;
		}
		&::after {
			@extend %code-container-base;
			color: #e06e6e;
			display: inline-block;
			font-size: 0.75em;
			line-height: 1.55em;
			margin: 2px 10px 3px 0;
			content: "Nomnoml diagram not loaded. Please report an issue with this page.";
			padding: 6px 15px;
			white-space: pre;
			-webkit-box-decoration-break: clone;
		}
	}
}

.collapsable {
	> .collapsable__icon {
		fill: #6F737A;
		position: absolute;
		left: 3px;
		transform: translateY(2px);
		width: 1em;
		height: 1em;
		cursor: pointer;
		user-select: none;
		&:hover {
			fill: #bdbdbd;
		}
	}
	
	&.collapsable--collapsed {
		user-select: none;
		
		> .collapsable__icon {
			transform: rotate(270deg) translate(-3px, 0);
		}
		
		> .collapsable__contents {
			display: none;
		}
	}

	&.collapsable--expanded {
		&::before { }
		
		> .collapsable__description { 
			display: none;
		}
	}
	
	> .collapsable__description {
		color: #787878;
		background-color: #303030;
		outline: solid 1px #404040;
		&::after {
			content: " {...}"
		}
		&:hover {
			color: inherit;
		}
	}
}

.math {
	color: white;
}