@use 'base';

.editor-colors {
	background-color: #262626;
	color: #BDBDBD;
	margin: 2px 10px 3px -15px;
	margin-block-end: 1em;
	padding: 1px 15px 1px 15px;
	border-radius: 6px;
	overflow-x: auto;
}

code {
	font-family: 'JetBrains Mono', monospace;
	background-color: #262626;
	border-radius: 0.3em;
	padding: 2px 5px 2px 5px;
	font-size: 0.85em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

pre {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;

	code {
		display: block;
		/*white-space: normal;*/
		margin: 2px 10px 3px (base.$left-padding-negative + 15px);
		padding: 10px 15px 10px 15px;
		overflow-x: auto;
		font-size: unset;
	}

	em {
		font-family: 'JetBrains Mono Italic', monospace;
		font-style: normal;
	}

	strong {
		font-family: 'JetBrains Mono Bold', monospace;
		font-style: normal;
		font-weight: normal;
	}
}

.error-underline {
	background: url(../Images/code-error-underline.svg) repeat-x bottom left;
}

.hint-underline {
	background: url(../Images/code-hint-underline.svg) repeat-x bottom left;
}