@use 'base';

h1 {
	color: white;
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
}

h2 {
	color: white;
	background-color: base.$dark-color;
	padding: 5px 15px 6px base.$left-padding;
	margin-left: base.$left-padding-negative;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 700;
	position: relative;
}

%h3-shared {
	font-size: 1.1em;
	font-weight: 500;
}

h3 {
	@extend %h3-shared;
	color: white;
	background: base.$lighter-background-color;
	padding: 6px 8px 6px base.$left-padding;
	margin-left: base.$left-padding-negative;
	line-height: 1em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

h4 {
	color: white;
	padding: 0 8px 0 0;
	font-size: 1.05em;
	line-height: 1em;
	font-weight: 500;
	margin-block-start: 1.6em;
	margin-block-end: 0.8em;
}

h5, h6 {
	color: white;
	font-weight: 500;
	line-height: 1em;
	font-size: 1em;
}

a.header-permalink {
	opacity: 0;
	transition: opacity .15s;
	margin-left: 4px;
	color: #bbbbbb;
}
a.header-permalink.show {
	opacity: 1;
}

.home-header {
	@extend %h3-shared;
	margin-top: 5px;
}