@use 'base';

h1 {
	color: white;
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
}

h2 {
	color: white;
	background-color: #282828;
	padding: 5px 15px 6px base.$left-padding;
	margin-left: base.$left-padding-negative;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 700;
	position: relative;
}

h3 {
	color: white;
	background-color: #282828;
	padding: 5px 15px 5px base.$left-padding;
	margin-left: base.$left-padding-negative;
	font-size: 1.3em;
	line-height: 1em;
	font-weight: 700;
}

h4 {
	color: white;
	background: #3C3C3C;
	padding: 6px 8px 6px base.$left-padding;
	margin-left: base.$left-padding-negative;
	font-size: 1.1em;
	line-height: 1em;
	font-weight: 500;
	margin-block-start: 1em;
	margin-block-end: 1em;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

h5 {
	color: white;
	padding: 0 8px 0 0;
	font-size: 1.05em;
	line-height: 1em;
	font-weight: 500;
	margin-block-start: 1em;
	margin-block-end: 0.8em;
}