@use 'base';

div.info-box {
	display: flex;
	flex-direction: row;
	border: solid 1px #242424;
	border-radius: 5px;
	background-color: #404040;
	margin: base.$block-container-margins;
	align-items: center;

	>p,>div {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
		margin-inline-start: 8px;
		margin-inline-end: 8px;
	}
	>img {
		height: 50px;
		width: 50px;
		margin: 0;
		padding: 5px 0 5px 5px;
	}
}

%small {
	height: 30px;
	width: 30px;
}

p:has(+div.info-box.small) {
	margin-block-end: 0.5em;
}

div.info-box.small {
	margin-block-end: 0.5em;
	>img {
		@extend %small;
	}	
}

.code-context {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	margin-top: 0.85em;
}

%context {
	border-radius: 0.3em;
	padding: 0 5px 0 5px;
	-webkit-box-decoration-break: clone;
	display: inline-block;
}

.context-a {
	@extend %context;
	border: solid 1px #fd5500;
}

.context-b {
	@extend %context;
	border: solid 1px #a9fd00;
}

.context-c {
	@extend %context;
	border: solid 1px #00b1fd;
}

.context-d {
	@extend %context;
	border: solid 1px #fd0098;
}

.context-e {
	@extend %context;
	border: solid 1px #fdf000;
}

.context-f {
	@extend %context;
	border: solid 1px #00fd98;
}