div.info {
	display: flex;
	flex-direction: row;
	border: solid 1px #242424;
	border-radius: 5px;
	background-color: #404040;
	margin: 5px 20px 20px 0;
	align-items: center;
}

p.info {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: 8px;
	margin-inline-end: 8px;
}

img.info {
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 5px 0 5px 5px;
}