@use 'base';

button {
  font-family: base.$font-family;
  color: base.$body-color;
  background: base.$dark-background-color;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.interactive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;

  :last-child {
    margin-bottom: 0;
  }
}

.interactive-button {
  position: relative;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  font-family: 'JetBrains Mono Bold', monospace;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin: 1em 25px 1em 25px;
  background-color: base.$dark-background-color;
  text-align: center;
  color: white;
  cursor: pointer;

  > p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
    user-focus: none;
  }
}

.interactive-button:hover, .interactive-button:focus {
  background-color: #ffffff;
  color: black;
  border-color: black;
}