/* PrismJS 1.23.0 */

/* textColor ----   //#BDBDBD #D0D0D0
 * delimiterColor ----   //#BDBDBD
 * backgroundColor ----   //#262626
 * commentColor ----   //#85C46C
 * classColor ----   //#C191FF
 * stringColor ----   //#C9A26D
 * keywordColor ----   //#6C95EB
 * numberColor ----   //#ED94C0
 * memberColor ----   //#66C3CC
 * stringEscapeColor ----   //#D688D4
 * operatorColor ----   //#BDBDBD
 * tagColor ----   //#C191FF
 * entityColor ----   //#FFD49E
 * injectedBackgroundColor ----   //#303030
 * attributeValueColor ----   //#F0F0F0
 * structColor ----   //#E1BFFF
 * functionColor ----   //#39CC8F
 * regex ----   //#FF9259
 * unknownColor ----   //#FF5647
*/

.rider-dark {
	--backgroundColor: #262626;
	--textColor: #D0D0D0;
	--delimiterColor: #BDBDBD;
	--operatorColor: #BDBDBD;
	--commentColor: #85C46C;
	--classColor: #C191FF;
	--stringColor: #C9A26D;
	--keywordColor: #6C95EB;
	--numberColor: #ED94C0;
	--memberColor: #66C3CC;
	--structColor: #E1BFFF;
	--functionColor: #39CC8F;
	--regexColor: #FF9259;
	--unknownColor: #FF5647;
}

.vs-dark {
	--backgroundColor: #1e1e1e;
	--textColor: #d4d4d4;
	--delimiterColor: #d4d4d4;
	--operatorColor: #d4d4d4;
	--commentColor: #6a9955;
	--classColor: #4ec9b0;
	--stringColor: #ce9178;
	--keywordColor: #569cd6;
	--numberColor: #b5cea8;
	--memberColor: #9cdcfe;
	--structColor: #4ec9b0;
	--functionColor: #DCDCAA;
	--regexColor: #CE9178;
	--unknownColor: #ff6666;
}

.one-monokai {
	--backgroundColor: #282c34;
	--textColor: #bbbbbb;
	--delimiterColor: #bbbbbb;
	--operatorColor: #e06c75;
	--commentColor: #676f7d;
	--classColor: #61afef;
	--stringColor: #e5c07b;
	--keywordColor: #e06c75;
	--numberColor: #b5cea8;
	--memberColor: #9cdcfe;
	--structColor: #F59762;
	--functionColor: #98c379;
	--regexColor: #d69d85;
	--unknownColor: #FF5647;
}

.dracula {
	--backgroundColor: #282a36;
	--textColor: #f8f8f2;
	--delimiterColor: #f8f8f2;
	--operatorColor: #ff79c6;
	--commentColor: #6272a4;
	--classColor: #8be9fd;
	--stringColor: #f1fa8c;
	--keywordColor: #ff79c6;
	--numberColor: #bd93f9;
	--memberColor: #f8f8f2;
	--structColor: #8be9fd;
	--functionColor: #50fa7b;
	--regexColor: #d69d85;
	--unknownColor: #FF5647;
}

.token {
	&.commentColorOnly {
		color: var(--commentColor);
	}


	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: var(--commentColor);
		font-family: 'JetBrains Mono Italic', monospace;
		font-style: normal;
	}

	&.body {
		color: var(--textColor);
	}

	&.punctuation {
		color: var(--delimiterColor);
	}

	&.namespace {
		color: var(--classColor);
	}

	&.property,
	&.tag,
	&.constant,
	&.symbol,
	&.deleted {
		color: var(--textColor);
	}

	&.boolean,
	&.number {
		color: var(--numberColor);
	}

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted {
		color: var(--stringColor);
	}

	&.operator,
	&.entity,
	&.url,
	&.variable {
		color: var(--operatorColor);
	}

	&.atrule,
	&.attr-value,
	&.class-name {
		color: var(--classColor);
	}

	&.function {
		color: var(--functionColor);
	}

	&.keyword {
		color: var(--keywordColor);
	}

	&.member {
		color: var(--memberColor);
	}

	&.regex,
	&.important {
		color: var(--regexColor);
	}

	&.struct {
		color: var(--structColor);
	}

	&.unknown {
		color: var(--unknownColor);
	}

	&.important,
	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}
}

.language-css {
	.token.string{
		color: var(--operatorColor);
	}
}
.style {
	.token.string{
		color: var(--operatorColor);
	}
}