/*Top Right Bottom Left*/

html, body {
	--sidebar-width: 70%;
	font-family: 'Roboto', Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #383838;
	color: #B5B5B5;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: local("JetBrainsMono-Regular"),
	url("../Fonts/JetBrainsMono-Regular.woff2") format("woff2"),
	url("../Fonts/JetBrainsMono-Regular.woff") format("woff");
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono Italic';
	src: local("JetBrainsMono-Italic"),
	url("../Fonts/JetBrainsMono-Italic.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono Bold';
	src: local("JetBrainsMono-Medium"),
	url("../Fonts/JetBrainsMono-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

hr {
	border-top: 1px solid;
	border-color: #282828;
}

a {
	color: #60a2ec;
	text-decoration: none;
	/*text-decoration-color: #60a2ecbb;*/
}

a:hover, a:focus {
	color: #f7b44b;
	outline: none;
	cursor: pointer;
}

/*bold links look bad, so this highlights them instead*/
/*a strong {
	font-weight: normal;
	color: #8dc3ff;
}

a:hover strong, a:focus strong {
	color: #f7b44b;
}*/

p {
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 25px;
	margin-inline-end: 12px;
	line-height: 1.25em;
}

h1 {
	color: white;
	font-size: 2em;
	line-height: 1em;
	font-weight: 700;
}

h2 {
	color: white;
	background-color: #282828;
	padding: 5px 15px 6px 25px;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 700;
}

h3 {
	color: white;
	background-color: #282828;
	padding: 5px 15px 5px 25px;
	font-size: 1.3em;
	line-height: 1em;
	font-weight: 700;
}

h4 {
	color: white;
	background: #3C3C3C;
	padding: 6px 8px 6px 24px;
	font-size: 1.1em;
	line-height: 1em;
	font-weight: 500;
	margin-block-start: 1em;
	margin-block-end: 0.2em;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

h5 {
	color: white;
	padding: 0 8px 0 18px;
	font-size: 1em;
	line-height: 1em;
	font-weight: 500;
	margin-block-start: 1em;
	margin-block-end: 0.8em;
}

img {
	margin: 15px 10px 15px 10px;
	max-width: 100%;
}

canvas {
	max-width: 100%;
	display: block;
	margin: auto;
}

iframe {
	margin: 15px 10px 15px 10px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 1;
}

.left-bar {
	flex-grow: 1;
}

.sidebar {
	flex-grow: 1;
	flex-basis: 10%;
	min-width: 250px;
	padding: 40px 0 0 0;
	height: calc(100vh - 40px);
	overflow: auto;
}

.contents {
	padding: 40px 0 50px 0;
	width: 58%;
	max-width: 1200px;
	height: 100vh;
	overflow: auto;
	border-right: 1px solid #424242;
	box-sizing: border-box;
}

abbr {
	cursor: help;
	border-bottom: 1px dotted gray;
	text-decoration: none;
}

li {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* Tables */

table {
	margin: 20px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 12px;
}

td.tableYes {
	background-color: rgba(124, 220, 54, 0.8);
}

td.tableNo {
	background: repeating-linear-gradient(-55deg, rgb(42, 42, 42), rgb(42, 42, 42) 10px, transparent 10px, transparent 20px) fixed;
}

td.tableYes.highlight {
	background-color: rgba(124, 220, 54, 1);
	/*cursor: crosshair;*/
}

td.tableNo.highlight {
	background: repeating-linear-gradient(-55deg, rgb(50, 50, 50), rgb(50, 50, 50) 10px, rgba(255, 255, 255, 0.05) 10px, rgba(255, 255, 255, 0.05) 20px) fixed;
	/*cursor: crosshair;*/
}

th.highlight,
td.highlight {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Code */
.editor-colors {
	background-color: #262626;
	margin: 2px 10px 3px 10px;
	padding: 1px 15px 1px 15px;
	border-radius: 6px;
	line-height: 1.2em;
	overflow-x: auto;
}

code {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.9em;
	background-color: #262626;
	border-radius: 0.3em;
	padding: 2px 5px 2px 5px;
}

pre code {
	display: inline-block;
	white-space: normal;
	margin: 2px 10px 3px 10px;
	font-size: .95em;
	padding: 10px 15px 10px 15px;
}

pre {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.85em;
}

pre em {
	font-family: 'JetBrains Mono Italic', monospace;
	font-style: normal;
}

.token.comment {
	font-family: 'JetBrains Mono Italic', monospace;
	font-style: normal;
}

pre strong {
	font-family: 'JetBrains Mono Bold', monospace;
	font-style: normal;
	font-weight: normal;
}

/* Help Boxes */

div.info {
	display: flex;
	flex-direction: row;
	border: solid 1px #242424;
	border-radius: 5px;
	background-color: #404040;
	margin: 5px 20px 20px 20px;
	align-items: center;
}

p.info {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: 8px;
	margin-inline-end: 8px;
}

img.info {
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 5px 0 5px 5px;
}

/* Meta */

.hidden {
	display: none;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

figcaption {
	font-size: 10pt;
	padding: 5px 12px 5px 12px;
	background: #191919;
	border-radius: 0 0 5px 5px;
}

figure p {
	margin: 0;
	display: flex;
}

figure p img {
	margin: 0;
}

.sidebar--button {
	display: none;
	position: fixed;
	top: calc(50% - 50px);
	right: 0;
	width: 40px;
	height: 100px;
	background-color: #191919;
	border: none;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.sidebar--button:hover, .sidebar--button:focus {
	background-color: #707070;
	outline: none;
}

.nav_overlay {
	display: none;
}

.sidebar--button-content {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
}

/* Mobile styling */
@media only all and (max-width: 800px) {
	.contents {
		width: 100%;
		padding: 40px 30px 50px 30px;
		margin: 0 0 0 0;
	}

	.left-bar {
		visibility: hidden;
	}

	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		width: var(--sidebar-width);
		z-index: 3;
		background-color: #383838;
		transform: translateX(100%);
	}

	.sidebar--transition {
		transition: transform 0.3s;
	}

	.sidebar--button {
		display: block;
	}

	.nav_overlay {
		display: block;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		z-index: 2;
		background-color: black;
		opacity: 0;
		transition: opacity 0.3s, width 0.3s;
	}
}

.sidebar--open {
	visibility: visible;
	transform: translateX(0);
}

.nav_overlay--open {
	visibility: visible;
	opacity: 50%;
	width: calc(100% - var(--sidebar-width));
	backdrop-filter: blur(2px);
}

/* Sliders */

.slider_container   {
	margin: 50px auto 0 auto;
	padding: 25px 0 25px 0;
	max-width: 380px;
	width: 100%;
	height: 0;
	position: relative;
}

.long_slider .slider_container {
	max-width: 600px;
}

.move_cursor {
	cursor: move;
}


.slider_left_gutter,
.slider_right_gutter,
.slider_knob {
	background: #777;
}


.slider_left_gutter, .slider_right_gutter {
	position: absolute;
	height: 4px;
	top: -2px;
	border-radius: 2px;
}

.slider_right_gutter {
	opacity: 0.2;
}

.slider_knob_container {
	width: 0;
	height: 0;
	top: 0;
	position: absolute;
}

.slider_knob {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: ew-resize;
	touch-action: none;
	left:-20px;
	top: -20px;
}