/* PrismJS 1.23.0 */

/* textColor ----   //#BDBDBD #D0D0D0
 * delimiterColor ----   //#BDBDBD
 * backgroundColor ----   //#262626
 * commentColor ----   //#85C46C
 * classColor ----   //#C191FF
 * stringColor ----   //#C9A26D
 * keywordColor ----   //#6C95EB
 * numberColor ----   //#ED94C0
 * stringEscapeColor ----   //#66C3CC
 * stringEscapeColor2 ----   //#D688D4
 * operatorColor ----   //#BDBDBD
 * tagColor ----   //#C191FF
 * entityColor ----   //#FFD49E
 * injectedBackgroundColor ----   //#303030
 * attributeValueColor ----   //#F0F0F0
 * structColor ----   //#E1BFFF
 * functionColor ----   //#39CC8F
 * regex ----   //#FF9259
 * unknownColor ----   //#FF5647
*/

$textColor: #D0D0D0;
$delimiterColor: #BDBDBD;
$operatorColor: #BDBDBD;
$commentColor: #85C46C;
$classColor: #C191FF;
$stringColor: #C9A26D;
$keywordColor: #6C95EB;
$numberColor: #ED94C0;
$stringEscapeColor: #66C3CC;
$structColor: #E1BFFF;
$functionColor: #39CC8F;
$regexColor: #FF9259;
$unknownColor: #FF5647;

.token {
	&.commentColorOnly {
		color: $commentColor;
	}


	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: $commentColor;
		font-family: 'JetBrains Mono Italic', monospace;
		font-style: normal;
	}

	&.body {
		color: $textColor;
	}

	&.punctuation {
		color: $delimiterColor;
	}

	&.namespace {
		color: $classColor;
	}

	&.property,
	&.tag,
	&.constant,
	&.symbol,
	&.deleted {
		color: $textColor;
	}

	&.boolean,
	&.number {
		color: $numberColor;
	}

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted {
		color: $stringColor;
	}

	&.operator,
	&.entity,
	&.url,
	&.variable {
		color: $operatorColor;
	}

	&.atrule,
	&.attr-value,
	&.class-name {
		color: $classColor;
	}

	&.function {
		color: $functionColor;
	}

	&.keyword {
		color: $keywordColor;
	}

	&.member {
		color: $stringEscapeColor;
	}

	&.regex,
	&.important {
		color: $regexColor;
	}

	&.struct {
		color: $structColor;
	}

	&.unknown {
		color: $unknownColor;
	}

	&.important,
	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}
}

.language-css {
	.token.string{
		color: $operatorColor;
	}
}
.style {
	.token.string{
		color: $operatorColor;
	}
}